/laravel/bootstrap/compiled.php
/laravel.env.*.php
/laravel.env.php
.DS_Store
Thumbs.db
/nbproject/private/
/nbproject/
/laravel/app/config/whm.php
/laravel/app/config/database.php
/laravel/app/config/mercadopago.php
/laravel/app/config/payment.php